<body>

<form action="test.php" method="GET">
  <fieldset>
    <legend>Add to log</legend>
    <p>
      Message:
      <textarea id="dir" name="dir"></textarea>
    </p>
    <p>
      <input type="submit" value="SAVE" />
    </p>
  </fieldset>
</form>

</body>